:root{
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-size: 62.5%;
}
body{
    margin: 0em;
}
*, ::after, ::before {
    box-sizing: inherit;
}

.wrapper {
    max-width: 1443px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    margin: 0em;
}
.head{
    display: flex;
    padding-top: 0.8rem;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    
}
hr{
    border: 1px solid #575555;
    max-width: 1920px;
}
.back{
    background: #2D2D2D;
}
h2{
    font-weight: 900;
font-size: 3rem;
line-height: 1.4;
color: #FFFFFF;

margin-bottom: 0.5rem;
}
.sec1{
    background: #2D2D2D;
    padding-top: 3.2rem;
    padding-bottom: 3.9rem;

}
p{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.2;
    
    color: #FFFFFF;
}
.fuel{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 333px;
    height: 346px;
    top:-38px
}
.fon{
    background: #2D2D2D;
    padding-left: 2.1rem;
    padding-right: 1.9rem;
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    position: relative;
    height: 340px;
}
.comm{
    line-height: 1.4;
    margin: 0em;

}
.plash{
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
    

}
.card{
    display: flex;
    align-items: center;
    gap:2rem;
}
a{
    text-decoration: none;
    font-weight: 400;
font-size: 1.6rem;
line-height: 1.4;
color: #FFFFFF;
}
.sil{
    display: none;
}
@media(min-width: 1024px){
.menu{
    display: none;
}
a{
    text-decoration: none;
    font-weight: 400;
font-size: 1.6rem;
line-height: 1.4;
color: #FFFFFF;

}
.sil{
    display: flex;
    align-items: center;
    gap: 2.6rem
}
h2{
    margin-top: 24.8rem;
    width: 850px;
    margin-bottom: 1.5rem;
    margin-right: auto;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 1.4;
}
.fuel{
    

}
/* .fuel{
    width: 810.89px;
height: 842.19px;
} */

}
@media(min-width: 1440px){
    .fuel{
        width: 600.89px;
    height: 650px;
    top:-400px;
    left: 290px;
    }
    .fon{
        height: 0em;
    }
    p{
    margin-bottom: 3rem;
}
.plash{
    flex-direction: row
}
.comm{
    width: 222px;
}
}


@media(min-width: 1535px){
    .fuel{
        width: 810.89px;
    height: 842.19px;
    top:-400px;
    left: 140px;
    }
}
